<div class="service-details pt-110 pb-110">
    <div class="container custom-container-1">
        <div class="row">
            <div class="col-xl-4 col-lg-4 pr-50">
                {% include widgets/our-service.html %}
                {% include widgets/quote.html %}
                {% include widgets/quote-form.html %}
            </div>
            <div class="col-xl-8 col-lg-8">
                <div class="service-details-wrapper wow fadeInUp" data-wow-delay=".3s">
                    <h2>Know more us of our landi Gardening and Landscape Services.</h2>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of page when looking layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, using Content here, content here', making
                        it look like readable English.
                        <br> <br> Which is the same as saying through shrinking from toil and pain. These cases are perfectly hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every
                        pleasure is to be welcomed and every pain avoided.
                    </p>
                    <img src="{{ "assets/images/service/1.jpg" | relative_url }}" class="mt-35 mb-35" alt="">
                    <h2>Why we are giving Gardening Services Since 2000, you can trust us for</h2>
                    <p>Long established fact that a reader will be distracted by the readable content of a page when at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, opposed to using 'Content
                        here, content here', making it look like readable English.
                        <br><br> Many desktop publishing and web page editors now use Lorem Ipsum as their default model text, and search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over
                        the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    </p>
                    <h2>Working Process</h2>
                    <p class="mb-45">When our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing the claims of duty or
                        the obligations of business</p>


                    <div class="row">

                        <div class="col-xl-12">
                            <!-- Tabs Navigation Start -->
                            <ul class="works-menu text-center mb-50" role="tablist">
                                <li class="nav-item">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                                        <span class="works-icon">
                                            <img src="{{ "assets/images/how-it-works/preparation-phase.png" | relative_url }}" alt="">
                                        </span>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                                        <span class="works-icon">
                                            <img src="{{ "assets/images/how-it-works/design-proposal.png" | relative_url }}" alt="">
                                        </span>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">
                                        <span class="works-icon">
                                            <img src="{{ "assets/images/how-it-works/start-planting.png" | relative_url }}" alt="">
                                        </span>
                                    </button>
                                </li>
                            </ul>
                            <!-- Tabs Navigation End -->
                        </div>

                        <!-- Tabs Panes Start -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="works-content-wrapper text-center">
                                            <h3>Preparation Phase</h3>
                                            <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                                <img src="{{ "assets/images/how-it-works/1.jpg" | relative_url }}" alt="">
                                                <a href="{{ "/project-details" | relative_url }}" class="works-link"><i class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="works-content-wrapper text-center">
                                            <h3>Design Proposal</h3>
                                            <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                                <img src="{{ "assets/images/how-it-works/2.jpg" | relative_url }}" alt="">
                                                <a href="{{ "/project-details" | relative_url }}" class="works-link"><i class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="works-content-wrapper text-center">
                                            <h3>Start Planting</h3>
                                            <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                                <img src="{{ "assets/images/how-it-works/3.jpg" | relative_url }}" alt="">
                                                <a href="{{ "/project-details" | relative_url }}" class="works-link"><i class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="works-content-wrapper text-center">
                                            <h3>Design Proposal</h3>
                                            <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                                <img src="{{ "assets/images/how-it-works/2.jpg" | relative_url }}" alt="">
                                                <a href="{{ "/project-details" | relative_url }}" class="works-link"><i class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="works-content-wrapper text-center">
                                            <h3>Preparation Phase</h3>
                                            <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                                <img src="{{ "assets/images/how-it-works/1.jpg" | relative_url }}" alt="">
                                                <a href="{{ "/project-details" | relative_url }}" class="works-link"><i class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="works-content-wrapper text-center">
                                            <h3>Start Planting</h3>
                                            <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                                <img src="{{ "assets/images/how-it-works/3.jpg" | relative_url }}" alt="">
                                                <a href="{{ "/project-details" | relative_url }}" class="works-link"><i class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="works-content-wrapper text-center">
                                            <h3>Enjoy the Landscape</h3>
                                            <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                                <img src="{{ "assets/images/how-it-works/4.jpg" | relative_url }}" alt="">
                                                <a href="{{ "/project-details" | relative_url }}" class="works-link"><i class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="works-content-wrapper text-center">
                                            <h3>Preparation Phase</h3>
                                            <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                                <img src="{{ "assets/images/how-it-works/1.jpg" | relative_url }}" alt="">
                                                <a href="{{ "/project-details" | relative_url }}" class="works-link"><i class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4">
                                        <div class="works-content-wrapper text-center">
                                            <h3>Start Planting</h3>
                                            <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                                <img src="{{ "assets/images/how-it-works/3.jpg" | relative_url }}" alt="">
                                                <a href="{{ "/project-details" | relative_url }}" class="works-link"><i class="fas fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tabs Panes End -->

                    </div>

                    <h2 class="mt-35">key benefits</h2>
                    <div class="faq">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        Design & Planing
                                </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                        Those who experiment the most, are able to innovate the best.
                                </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        Modern Equipment We Use and support from our experts.
                                </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                        Understand Your Problem, You must understand the issue.
                                </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscing
                                            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>