@use '../utils' as *;

/**
*   17. Breadcrumb
*/

.breadcrumb-content-wrapper {
    & h2 {
        color: #fff;
        font-size: 46px;
        line-height: 60px;
        margin-bottom: 28px;
        padding: 0 110px;
    }
    & p {
        color: #fff;
        font-size: 20px;
    }
    & ul {
        &.post-meta li:after {
            background-color: var(--tt-theme-3);
        }
        & li {
            color: var(--tt-text-2);
            & a {
                color: var(--tt-text-2)!important;
            }
        }
    }
}

.breadcrumb-navigation {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    & ul {
        & li {
            display: inline-block;
            color: #fff;
            font-family: 'Lora', serif;
            font-size: 16px;
            font-weight: 700;
            &:hover a {
                color: var(--tt-text-2);
            }
            &.active {
                color: var(--tt-text-2);
            }
        }
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '-';
    color: #fff;
    padding: 0 10px;
}