/**
*   02. Preloader
*/

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--tt-theme-3);
    z-index: 99;
}

.preloader .sk-plane,
.preloader .sk-chase,
.preloader .sk-bounce,
.preloader .sk-wave,
.preloader .sk-pulse,
.preloader .sk-flow,
.preloader .sk-swing,
.preloader .sk-circle,
.preloader .sk-circle-fade,
.preloader .sk-grid,
.preloader .sk-fold,
.preloader .sk-wander {
    position: absolute;
    left: 50%;
    top: 45%;
    margin: 0;
    margin-left: -20px;
    margin-top: -20px;
}

.sk-plane,
.sk-chase-dot:before,
.sk-bounce-dot,
.sk-wave-rect,
.sk-pulse,
.sk-flow-dot,
.sk-swing-dot,
.sk-circle-dot:before,
.sk-circle-fade-dot:before,
.sk-grid-cube,
.sk-fold-cube:before,
.sk-wander-cube {
    background-color: var(--tt-theme-1);
}