{% assign project_four = site.data.project['project_four'] %}
<div class="project-area pt-110 pb-110">
    <div class="container custom-container-1">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-70 wow fadeInUp" data-wow-delay=".3s">
                    <span>{{ project_four.section.heading }}</span>
                    <h2>{{ project_four.section.description }}</h2>
                </div>
            </div>
        </div>
        <div class="row mb-60">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-project mb-25 wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-project-img bg-property bg-hover-style-1" data-background="{{ project_four.project1.image | relative_url }}">
                        <div class="single-project-img-icon">
                            <a href="{{ project_four.project1.url | relative_url }}"><i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="single-project-content">
                        <h3>{{ project_four.project1.heading }}</h3>
                        <p>{{ project_four.project1.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-project mb-25 wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-project-img bg-property bg-hover-style-1" data-background="{{ project_four.project2.image | relative_url }}">
                        <div class="single-project-img-icon">
                            <a href="{{ project_four.project2.url | relative_url }}"><i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="single-project-content">
                        <h3>{{ project_four.project2.heading }}</h3>
                        <p>{{ project_four.project2.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-project mb-25 wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-project-img bg-property bg-hover-style-1" data-background="{{ project_four.project3.image | relative_url }}">
                        <div class="single-project-img-icon">
                            <a href="{{ project_four.project3.url | relative_url }}"><i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="single-project-content">
                        <h3>{{ project_four.project3.heading }}</h3>
                        <p>{{ project_four.project3.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-project mb-25 wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-project-img bg-property bg-hover-style-1" data-background="{{ project_four.project4.image | relative_url }}">
                        <div class="single-project-img-icon">
                            <a href="{{ project_four.project4.url | relative_url }}"><i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="single-project-content">
                        <h3>{{ project_four.project4.heading }}</h3>
                        <p>{{ project_four.project4.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-project mb-25 wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-project-img bg-property bg-hover-style-1" data-background="{{ project_four.project5.image | relative_url }}">
                        <div class="single-project-img-icon">
                            <a href="{{ project_four.project5.url | relative_url }}"><i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="single-project-content">
                        <h3>{{ project_four.project5.heading }}</h3>
                        <p>{{ project_four.project5.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-project mb-25 wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-project-img bg-property bg-hover-style-1" data-background="{{ project_four.project6.image | relative_url }}">
                        <div class="single-project-img-icon">
                            <a href="{{ project_four.project6.url | relative_url }}"><i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="single-project-content">
                        <h3>{{ project_four.project6.heading }}</h3>
                        <p>{{ project_four.project6.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>