$colors: (
    common: (
        white: #ffffff,
        black: #222222,
    ),
    heading: (
        primary: #523906,
        primary-hover: #523906,
    ),
    grey: (
        1:#f1f1f1,
        2:#f9f9f9,
        3:#fbfbfa,
        4:#edebe6,
    ),
    text: (
        body:#686868,
        1:#523906,
        2:#cdb30c,
    ),
    theme: (
        1: #523906,
        2: #3a2701,
        3: #cdb30c,
        4: #faf7e6,
        5: #3e2c07,
    ),
    border: (
        1: #f2ecc2,
        2: #523906,
        3: #cdb30c,
        4: #f1efeb,
    )
);
