<div class="how-it-works theme-bg-4 pt-110 pb-110">
    <div class="container custom-container-1">
        <div class="row">
            <div class="section-title text-center mb-70 wow fadeInUp" data-wow-delay=".3s">
                <span>See How it Works!</span>
                <h2>How we works <br> Landscape & Gardening</h2>
            </div>
        </div>
        <div class="row">

            <!-- Tabs Navigation Start -->
            <ul class="works-menu text-center mb-50 wow fadeInUp" role="tablist" data-wow-delay=".3s">
                <li class="nav-item">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                        <span class="works-icon">
                            <img src="{{ "assets/images/how-it-works/preparation-phase.png" | relative_url }}" alt="">
                        </span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                        <span class="works-icon">
                            <img src="{{ "assets/images/how-it-works/design-proposal.png" | relative_url }}" alt="">
                        </span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">
                        <span class="works-icon">
                            <img src="{{ "assets/images/how-it-works/start-planting.png" | relative_url }}" alt="">
                        </span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">
                        <span class="works-icon">
                            <img src="{{ "assets/images/how-it-works/enjoy-the-landscape.png" | relative_url }}" alt="">
                        </span>
                    </button>
                </li>
            </ul>
            <!-- Tabs Navigation End -->

            <!-- Tabs Panes Start -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".3s">
                                <h3>Preparation Phase</h3>
                                <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/1.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".5s">
                                <h3>Design Proposal</h3>
                                <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/2.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".7s">
                                <h3>Start Planting</h3>
                                <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/3.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".9s">
                                <h3>Enjoy the Landscape</h3>
                                <div class="works-img bg-hover-style-1 bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/4.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".3s">
                                <h3>Design Proposal</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/2.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".5s">
                                <h3>Preparation Phase</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/1.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".7s">
                                <h3>Enjoy the Landscape</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/4.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".9s">
                                <h3>Start Planting</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/3.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".3s">
                                <h3>Enjoy the Landscape</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/4.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".5s">
                                <h3>Design Proposal</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/2.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".7s">
                                <h3>Preparation Phase</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/1.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".9s">
                                <h3>Start Planting</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/3.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".3s">
                                <h3>Enjoy the Landscape</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/4.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".5s">
                                <h3>Start Planting</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/3.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".7s">
                                <h3>Design Proposal</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/2.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="works-content-wrapper text-center wow fadeInUp" data-wow-delay=".9s">
                                <h3>Preparation Phase</h3>
                                <div class="works-img bg-hover-style-1">
                                    <img src="{{ "assets/images/how-it-works/1.jpg" | relative_url }}" alt="">
                                    <a href="#" class="works-link"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabs Panes End -->

        </div>
    </div>
</div>