<div class="widget category-widget mb-60 wow fadeInUp" data-wow-delay=".3s">
    <h3 class="widget-title">Categories</h3>
    <ul>
        <li><a href="#">Garden Design</a><span>(20)</span></li>
        <li><a href="#">Garden Fence</a><span>(13)</span></li>
        <li><a href="#">Gardening</a><span>(13)</span></li>
        <li><a href="#">Grass Cutting</a><span>(10)</span></li>
        <li><a href="#">Landscaping</a><span>(15)</span></li>
        <li><a href="#">Rubbish Removal</a><span>(18)</span></li>
    </ul>
</div>