<div class="widget service-list-widget mb-60 wow fadeInUp" data-wow-delay=".3s">
    <h3 class="widget-title">Our Services</h3>
    <ul>
        <li><a href="#">Landscape Design <i class="fas fa-arrow-right"></i></a></li>
        <li><a href="#">Plant Growing <i class="fas fa-arrow-right"></i></a></li>
        <li><a href="#">Branch Cutting <i class="fas fa-arrow-right"></i></a></li>
        <li><a href="#">Flower Scaping <i class="fas fa-arrow-right"></i></a></li>
        <li><a href="#">Tree Planting <i class="fas fa-arrow-right"></i></a></li>
        <li><a href="#">Rubbish Removal <i class="fas fa-arrow-right"></i></a></li>
    </ul>
</div>