{% assign footer_one = site.data.footer['footer_one'] %}
{% assign footer_bottom = site.data.footer['footer_bottom'] %}
<footer>
    <div class="footer-top bg-property theme-bg-2 pt-110 pb-80" data-background="assets/images/footer-1.png">
        <div class="container custom-container-1">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget-1 wow fadeInUp" data-wow-delay=".3s">
                        <div class="footer-title">
                            <h4>{{ footer_one.column1.heading }}</h4>
                        </div>
                        <div class="footer-text">
                            <p>{{ footer_one.column1.description }}</p>
                        </div>
                        <div class="footer-info">
                            <a href="tel:{{ footer_one.column1.number1.url }}"><i class="fas fa-phone-alt"></i>{{ footer_one.column1.number1.label }}</a>
                        </div>
                        <div class="footer-text">
                            <p>{{ footer_one.column1.location }}</p>
                        </div>
                        <div class="footer-info">
                            <a href="tel:{{ footer_one.column1.number2.url }}"><i class="fas fa-phone-alt"></i>{{ footer_one.column1.number2.label }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-widget-2 wow fadeInUp" data-wow-delay=".5s">
                        <div class="footer-title">
                            <h4>{{ footer_one.column2.heading }}</h4>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                {% for menu in footer_one.column2.menu %}
                                <li><a href="{{ menu.url }}">{{ menu.label }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-widget-3 wow fadeInUp" data-wow-delay=".7s">
                        <div class="footer-title">
                            <h4>{{ footer_one.column3.heading }}</h4>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                {% for menu in footer_one.column3.menu %}
                                <li><a href="{{ menu.url }}">{{ menu.label }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget-4 wow fadeInUp" data-wow-delay=".9s">
                        <div class="footer-title">
                            <h4>{{ footer_one.column4.heading }}</h4>
                        </div>
                        <div class="footer-text">
                            <p>{{ footer_one.column4.description }}</p>
                        </div>
                        <div class="footer-social mt-35">
                            <h5>{{ footer_one.column4.social_label }}</h5>
                            {% for social in footer_one.column4.social %}
                            <a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a>
                            {% endfor %}
                        </div>
                        <div class="footer-newsletter mt-40">
                            <form action="" method="POST">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fas fa-angle-double-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom theme-bg-1 pt-40 pb-30">
        <div class="container custom-container-1">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="copyright">
                        <p>{{ footer_bottom.copyright }}</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-xl-end text-lg-end text-md-end text-center">
                    <div class="footer-menu">
                        <ul>
                            {% for menu in footer_bottom.menu %}
                            <li><a href="{{ menu.url }}">{{ menu.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>