{% assign header_top = site.data.header['header_top'] %}
{% assign logo = site.data.header['logo'] %}
{% assign navigation = site.data.header['navigation'] %}
{% assign button = site.data.header['button'] %}
<header>
    <div class="header-top pt-15 pb-15 theme-bg-1">
        <div class="container custom-container-1">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12">
                    <div class="header-info">
                        <ul>
                            <li>
                                <i class="fas fa-phone-alt"></i> Call on :
                                <a href="tel:{{ header_top.number.url }}">{{ header_top.number.label }}</a>
                            </li>
                            <li>
                                <i class="fas fa-clock"></i> Open Hours : {{ header_top.open_hour }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="header-social text-xl-end text-lg-end text-md-center">
                        {% for social in header_top.social %}
                        <a href="{{ social.url }}">{{ social.label }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="header-bottom">
        <div class="container custom-container-1">
            <div class="row d-flex align-items-center">
                <div class="col-xl-2 col-lg-2 col-md-4">
                    <div class="logo">
                        <a href="{{ logo.url | relative_url}}">
                            <img src="{{ logo.image | relative_url}}" alt="{{ logo.alt | relative_url}}">
                        </a>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-8">
                    <div class="header-btn f-right">
                        <a href="{{ button.button_one.url }}" class="l-btn cmk-button cmk-rotate-right">{{ button.button_one.label }}</a>
                    </div>
                    <div class="main-menu text-center">
                        <nav id="mobile-menu">
                            <ul>
                                {% for nav in navigation %}
                                <li>
                                    <a href="{{ nav.url }}">{{ nav.label }}</a>
                                    {% if nav.submenu %}
                                    <ul class="submenu">
                                        {% for submenu in nav.submenu %}
                                        <li><a href="{{ submenu.url }}">{{ submenu.label }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {%endif%}
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>