{% assign about2 = site.data.about['about_two'] %}
<div class="about-area gray-bg-2 pt-110 pb-160">
    <div class="container custom-container-1">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about-img-style-1 wow fadeInUp" data-wow-delay=".3s">
                    <img src="{{ about2.column1.image | relative_url }}" alt="{{ about2.column1.alt }}">
                    <div class="about-award">
                        <h3>{{ about2.column1.heading }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about-text-wrapper pt-30 wow fadeInUp" data-wow-delay=".5s">
                    <div class="section-title mb-40">
                        <span>{{ about2.column2.subheading }}</span>
                        <h2 class="mb-30">{{ about2.column2.heading }}</h2>
                        <p>{{ about2.column2.description }}</p>
                    </div>
                    <a href="{{ about2.column2.button.url | relative_url }}" class="l-btn cmk-button cmk-rotate-right">{{ about2.column2.button.label }}</a>
                </div>
            </div>
        </div>
    </div>
</div>