<div class="team-area white-bg pt-110 pb-110">
    <div class="container custom-container-1">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-70 wow fadeInUp" data-wow-delay=".3s">
                    <span>Team Members</span>
                    <h2>Dedicated Members 20+</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-team-style-1 mb-80 text-center wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-team-style-1-img">
                        <img src="{{ "assets/images/team/1.png" | relative_url }}" alt="">
                        <div class="team-social-style-1">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <h4>Nicolas Murkari</h4>
                    <span class="team-border-bottom">Gardener</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-team-style-1 mb-80 text-center wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-team-style-1-img">
                        <img src="{{ "assets/images/team/2.png" | relative_url }}" alt="">
                        <div class="team-social-style-1">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <h4>Meri Sheraia</h4>
                    <span class="team-border-bottom">Gardener</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-team-style-1 mb-80 text-center wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-team-style-1-img">
                        <img src="{{ "assets/images/team/3.png" | relative_url }}" alt="">
                        <div class="team-social-style-1">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <h4>Nicolas Murkari</h4>
                    <span class="team-border-bottom">Gardener</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-team-style-1 mb-80 text-center wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-team-style-1-img">
                        <img src="{{ "assets/images/team/4.png" | relative_url }}" alt="">
                        <div class="team-social-style-1">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <h4>Nicolas Murkari</h4>
                    <span class="team-border-bottom">Gardener</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-team-style-1 mb-80 text-center wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-team-style-1-img">
                        <img src="{{ "assets/images/team/5.png" | relative_url }}" alt="">
                        <div class="team-social-style-1">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <h4>Sundiya Jheo</h4>
                    <span class="team-border-bottom">Gardener</span>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-team-style-1 mb-80 text-center wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-team-style-1-img">
                        <img src="{{ "assets/images/team/6.png" | relative_url }}" alt="">
                        <div class="team-social-style-1">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <h4>Nicolas Murkari</h4>
                    <span class="team-border-bottom">Gardener</span>
                </div>
            </div>
        </div>
    </div>
</div>