<div class="team-area pt-110 pb-110">
    <div class="container custom-container-1">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-team-style-2 mb-60 text-center wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-team-style-2-img">
                        <img src="{{ "assets/images/team/st-1.jpg" | relative_url }}" alt="">
                        <div class="team-social-style-2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="single-team-content-style-2">
                        <h4>Meri Sheraia</h4>
                        <span>Gardener</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-team-style-2 mb-60 text-center wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-team-style-2-img">
                        <img src="{{ "assets/images/team/st-2.jpg" | relative_url }}" alt="">
                        <div class="team-social-style-2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="single-team-content-style-2">
                        <h4>Nicolas Murkari</h4>
                        <span>Gardener</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-team-style-2 mb-60 text-center wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-team-style-2-img">
                        <img src="{{ "assets/images/team/st-3.jpg" | relative_url }}" alt="">
                        <div class="team-social-style-2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="single-team-content-style-2">
                        <h4>Parvin Neloy</h4>
                        <span>Gardener</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-team-style-2 mb-60 text-center wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-team-style-2-img">
                        <img src="{{ "assets/images/team/st-4.jpg" | relative_url }}" alt="">
                        <div class="team-social-style-2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="single-team-content-style-2">
                        <h4>Nicolas Murkari</h4>
                        <span>Gardener</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-team-style-2 mb-60 text-center wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-team-style-2-img">
                        <img src="{{ "assets/images/team/st-5.jpg" | relative_url }}" alt="">
                        <div class="team-social-style-2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="single-team-content-style-2">
                        <h4>Meri Sheraia</h4>
                        <span>Gardener</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-team-style-2 mb-60 text-center wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-team-style-2-img">
                        <img src="{{ "assets/images/team/st-4.jpg" | relative_url }}" alt="">
                        <div class="team-social-style-2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="single-team-content-style-2">
                        <h4>Nicolas Murkari</h4>
                        <span>Gardener</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-team-style-2 mb-60 text-center wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-team-style-2-img">
                        <img src="{{ "assets/images/team/st-3.jpg" | relative_url }}" alt="">
                        <div class="team-social-style-2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="single-team-content-style-2">
                        <h4>Parvin Neloy</h4>
                        <span>Gardener</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-team-style-2 mb-60 text-center wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-team-style-2-img">
                        <img src="{{ "assets/images/team/st-6.jpg" | relative_url }}" alt="">
                        <div class="team-social-style-2">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="single-team-content-style-2">
                        <h4>Nicolas Murkari</h4>
                        <span>Gardener</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>